@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");
@import url(styles/tópicos.css);
@import url(styles/contato.css);
@import url(styles/rodape.css);

:root {
    --cor-de-fundo: #EBECEE;
    --branco: #FFFFFF;
    --laranja: #FF6400;
    --azul-degrade: linear-gradient(97.54deg, #0e4a64 35.49%, #012030 165.37%);
    --fonte-principal: "Poppins";
    --azul: #13678A;
    --fonte-secundaria: "Josefin Sans";
    --preto: #000;
    --cinza: #474646;
    --cinza-titulo: #858585;
    
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}